<div class="container text-center mt-2">
	<h1>Welcome!</h1>
	<h3>World Guru, your one-stop destination for trip planning!</h3>
	<div class="row mt-4">
		<div class="col-md-4 my-2" >
			<a [routerLink]="['/news']">
				<div class="card text-center" style="height: 100%;">
					<img src="https://images.pexels.com/photos/261949/pexels-photo-261949.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="News" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">News</h5>
						<p class="card-text">Stay up-to-date with the happenings of other countries</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 my-2" >
			<a [routerLink]="['/weather']">
				<div class="card text-center" style="height: 100%;">
					<img src="https://images.pexels.com/photos/268941/pexels-photo-268941.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="News" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Weather</h5>
						<p class="card-text">Plan ahead by checking the weather!</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 my-2" >
			<a [routerLink]="['/restaurants/collections']">
				<div class="card text-center" style="height: 100%;">
					<img src="https://images.pexels.com/photos/704982/pexels-photo-704982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Restaurant" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Restaurant</h5>
						<p class="card-text">Look up restaurants within an area!</p>
					</div>
				</div>
			</a>
		</div>			
	</div>	
</div>