<hr>
<div class="row justify-content-md-center text-center">
	<div class="col-md-3">
		<h3>Special Thanks To:</h3>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="https://newsapi.org/" target="_blank" rel="noopener noreferrer">
				News API
			</a></li>
			<li class="list-group-item"><a href="https://developers.zomato.com/api" target="_blank" rel="noopener noreferrer">Zomato API</a></li>
			<li class="list-group-item"><a href="https://www.airvisual.com/air-pollution-data-api" target="_blank" rel="noopener noreferrer">AirVisual API</a></li>
			<li class="list-group-item"><a href="https://www.pexels.com" target="_blank" rel="noopener noreferrer">Pexels</a></li>
		</ul>
	</div>
</div>
